body{
    background-image:url('https://z1.ax1x.com/2023/10/28/pieZWyd.jpg');
    /*背景亮色*/
}
@media (prefers-color-scheme: dark) {
    html{background:#522c0a;}
    body{
        background-image: url(https://z1.ax1x.com/2023/10/28/pieZfOA.jpg
        );
    }
    .cmd-window .header{
        background:#af852c33;
    }
}