:root{
    --bg-color:#f3f2eb;
    --text-color:#343538;
    --text-key-color:#000;
    --fonts:'LXGW WenKai Screen';
    --font-size:16px;

    --hover-desc-border-color:#aaa;
    --hover-desc-bg-color:#eee;
    --hover-desc-color:#000;
}
html,body{
    width:100%;
    margin:0;
}
html{
    height:100%;
}
body{
    background-color:var(--bg-color);
    color:var(--text-color);
    font-family:var(--fonts);
    font-size:var(--font-size);
    text-align:center;
    height:100%;
    display:flex;
}
a{
    color:var(--text-key-color);
    font-weight:800;
    text-decoration: none;
    transition:all 0.2s;
}
a:hover{
    color:var(--text-color);
    transition:all 0.2s;
}
#center-box{
    margin:auto;
}
.basic-info{
    text-align:center;
    display:inline-block;
    padding:1.5em;
    margin:auto;
}
.basic-info div{
    margin:10px 2em;
}
#avatar{
    width:140px;
    height:140px;
    border-radius:100%;
    box-shadow: 0 .2rem .2rem #9c9e9f77;
    user-select:none;
    -webkit-user-select:none;
}
#name{
    font-size:200%;
    font-weight:800;
}
#desc{
    font-size:110%;
    font-style: italic;
    font-weight:100;
}
.social-accounts{
    font-size:0;
    user-select:none;
    -webkit-user-select:none;
}
.social-accounts a{
    color:var(--text-color);
    text-decoration: none;
    font-size:calc( var(--font-size) * 1.2 );
    margin:0 5px;
    display: inline-block;
}
.social-accounts a i{
    transform:rotate(0);
    transition:all 0.2s;
}
.social-accounts a:hover i{
    transform:rotate(360deg);
    transition:all 0.2s;
}
.hover-desc:hover::after{
    content:attr(data-title);
    font-size:70%;
    position:absolute;
    border:1px solid var(--hover-desc-border-color);
    border-radius: 4px;
    padding:1px 3px;
    margin-top:0;
    background:var(--hover-desc-bg-color);
    word-break: keep-all;
    width:fit-content;
    color:var(--hover-desc-color);
    display:block;
    opacity: 0.9;
    /*transform: translateX(-50%);*/
    pointer-events:none;
}
.social-accounts .hover-desc:hover::after{
    transform: translateX(calc(-50% + ( 0.6 * var(--font-size) )));
}
#links{
    margin:auto;
    padding:.5em;
}
#links a.firstln{
    display:inline-block;
    padding:10px;
    margin:10px;
}
.info{
    text-align:center;
}
#img404{
    width:140px;
}
#img404 .svg-icon{
    fill:var(--text-color);
}
#contents{
    max-width:50%;
    text-align:left;
    margin:auto;
}
.cursor{
    animation:1s steps(2, jump-none) 0s infinite reverse blink;
    background:var(--text-color);
    color:var(--text-color);
    display:inline-block;
    width:.5em;
    height:1em;
    line-height: 1em;
    margin-left: 5px;
    user-select:none;
    -webkit-user-select:none;
}
@keyframes blink{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#footer{
    padding:2em;
}
@media screen and (max-width:385px){
    #links a.firstln{
        margin:10px 5px;
    }
}
::selection{
    background:var(--text-color);
    color:var(--bg-color);
}
::-moz-selection{
    background:var(--text-color);
    color:var(--bg-color);
}
/* START OF DARK MODE */
@media (prefers-color-scheme: dark) {
    :root{
        --bg-color:#272829;
        --text-color:#f3f2eb;
        --text-key-color:#fff;
    }
}
