html{
  font-family:"Microsoft Yahei UI","Pingfang SC",scirf;
  background: #ffffff;
}
h1{
  text-align:center;
  margin-top:20%;
  font-size: 100px;
  color:#016fff;
  font-weight:150;
}
h2{
  text-align:center;
  font-size: 30px;
  color:#777;
  font-weight:100;
}
